{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block main %}

    <h2>Inscrivez-vous</h2>




    {# Cette variable est le nom de notre formulaire #}
    {{ form(formInscription) }} 

{% endblock %}
